@import url(//db.onlinewebfonts.com/c/9527a4c4f55e8075eb6a60fe577d89c4?family=Px+Grotesk+Regular);
@font-face {
  font-family: 'Px Grotesk Regular';
  src: url('//db.onlinewebfonts.com/t/9527a4c4f55e8075eb6a60fe577d89c4.eot');
  src: url('//db.onlinewebfonts.com/t/9527a4c4f55e8075eb6a60fe577d89c4.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/9527a4c4f55e8075eb6a60fe577d89c4.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/9527a4c4f55e8075eb6a60fe577d89c4.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/9527a4c4f55e8075eb6a60fe577d89c4.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/9527a4c4f55e8075eb6a60fe577d89c4.svg#Px Grotesk Regular') format('svg');
}
html {
  box-sizing: border-box;
}
body {
  /* Other purlple #6610f2 
      Black: #111111;
  */
  font-family: 'Px Grotesk Regular';
}

/* Hide the arrows of the input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.web-title {
  background-color: #7323a2;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.web-title span {
  margin-right: 5px;
}

/* **************************************** */

.price-calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 340px;
}
.main-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#price-calc {
  width: 90%;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  border: 3px solid rgb(151, 151, 151);
  border-radius: 16px;
}

#price-calc:focus {
  border: 2px solid #7323a2;
  background-color: rgb(165, 165, 165);
}

#price-calc::placeholder {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.price-calc-container div p {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-input-bttns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 125px;
}

#calc-btn {
  width: 180px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #7323a2;
  border-radius: 16px;
}

#calc-btn:active {
  background-color: rgb(168, 168, 168);
  color: #000;
  padding: 15px;
}

#reset-btn {
  width: 90px;
  height: 50px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 16px;
}
#reset-btn:active {
  background-color: rgb(168, 168, 168);
  color: #000;
  padding: 13px;
}

.prices-titles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background-color: #7323a2;
  border-top: 1px solid #7323a2;
  border-bottom: 1px solid #7323a2;
}

.prices-titles h2,
h3 {
  margin: 10px 0;
}

ul {
  width: 70%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(199, 199, 199);
  border-right: 1px solid #7323a2;
}

li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

li span {
  font-size: 1.2rem;
  font-weight: bold;
}

.article-name {
  text-align: center;
  white-space: nowrap;
  font-size: 1.1rem;
  width: 220px;
}

#price-ves-container {
  width: 30%;
}
.price-bolivares {
  margin: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
